{% extends 'invApp/layout.html' %}


{% block title %}
  Product List
{% endblock title %}
  
  {% block content %}
    <h1 class="text-center">Are you sure you want to delete <p class="text-success">{{product.product_name}} ?</p> </h1>
    <p class="text-center">By Clicking <span class="text-danger">Yes</span> You agree to parmanently remove <span class="text-success">{{ product.product_name }} ? </span> from records. Do you agree? </p>
  <form action="" method="post" class="text-center">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes</button>
    <a href="{% url 'invApp:product_list' %}" class="btn btn-secondary">No</a>
  </form>
  {% endblock content %}