<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 errro</title>
</head>
<body>
  <h1>404</h1>
  <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam quia ullam reprehenderit natus, maiores, soluta ipsam quasi corporis, illo nisi ex eligendi voluptatum repudiandae aliquid voluptatibus obcaecati? Quibusdam, perferendis accusantium.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint enim recusandae distinctio dignissimos debitis voluptas ipsa praesentium, eveniet, animi voluptates blanditiis ea aspernatur cum rem incidunt assumenda tempore pariatur? Minus.</p>

  <h2>Did you mean <a href="{% url 'inApp:home' %}" class="text-center text-success">Inventory management Sysytem ?</a></h2>
</body>
</html>